*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    margin:0;
    padding:0;
    background:#262626;
}

h2 {
    color: yellow;
}

.searchBar {
    background: rgb(60, 64, 66);
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 57px;
    display: flex;
    padding: 5px;
}
.title {
    flex: 1.5;
}

.pages {
    margin-top: 5px;
    width: 100%;
}

.searchNavigation {
    margin-left: 5%;
    flex: 4;
}

.buttonNavigation {
    margin-left: 5%;
}

input {
    color: black;
}

button {
    display: inline-block;
    color: black;
    flex: 0 0 30px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px
}
button:hover {
    background-color: rgb(167, 166, 166);
  }

.sideBar {
    background: rgb(60, 60, 60);
    border-left: 2px solid black;
    border-right:  1px solid black;
    border-bottom:  2px solid black;
    position: fixed;
    height: 100%;
    width: 20%;
    left: 0;
    margin: 0px;
    top: 57px;
}

.lists {
    background: rgb(60, 64, 66);
    top: 57px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right:  2px solid black;
    border-bottom:  1px solid black;
    height: 195px;
    width: 20%;
    right: 0px;
    position: fixed;
    overflow:auto;
    -ms-overflow-style: none;
}

.listsCreation {
    top: 57px;
    margin: 0%;

    width: 20%;
    position: fixed;
    padding: 10px;
}

.listDisplay {
    top: 102px;
    height: 150px;
    width: 20%;
    position: fixed;
    -ms-overflow-style: none;
    overflow:auto;
    list-style-type: none;
    padding: 10px;
}
.activeListContents {
    list-style-type: none;
    top: 252px;
    position: fixed;
}

.myLists {
    padding: 0;
}

.myLists li {
    position: relative;
    display: flex;
    flex-direction: row;
  }


.listDisplay::-webkit-scrollbar {
    display: none;
}

.platforms {
    position: fixed;
    top: 252px;
    border: 1px solid black;
    height: 64.55%;
    width: 20%;
    padding: 10px;
    overflow:auto;
    left: 0;
    -ms-overflow-style: none;
}

.platforms::-webkit-scrollbar {
    display: none;
}

.content {
    background: rgb(46, 46, 46);
    border-left: 1px solid black;
    border-right:  1px solid black;
    border-bottom:  2px solid black;
    border-top: 1px solid black;
    position: fixed;
    left: 20%;
    right: 20%;
    top: 57px;
    padding-bottom: 10px;
    height: 92%;
    width: 60%;
    overflow:auto;
    -ms-overflow-style: none;
    display: block;

}

.content::-webkit-scrollbar {
    display: none;
}

.gameItem {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.flex1 {
    flex: 1;
}
.flex2 {
    flex: 4;
}
.flex3 {
    flex: 10;
}

.addGameButton{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 90%;
    height: 95%;

}

.thumbnail {
    padding: 5px;
    border-radius: 10px;
    vertical-align: top;
    margin: 5px;
    width: 280px;
    height: 180px;
}

.gameName {
    width: 200px;
    font-size: larger;
    vertical-align: top;
    border-spacing: 5em;
    padding: 5px;;
}

.listDetails {
    margin-left: 5%;
    padding: 5px;
}

.listDetailsHidden {
    display: none;
}

.listBar {
    background: rgb(60, 64, 66);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right:  2px solid black;
    border-bottom:  2px solid black;
    position: fixed;
    height: 100%;
    width: 20%;
    right: 0;
    top: 57px;
}

.activeListName {
    background: rgb(60, 64, 66);
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right:  2px solid black;
    border-bottom:  1px solid black;
    position: fixed;
    height: 57px;
    width: 20%;
    right: 0;
    top: 0;
    padding: 10px;
    overflow:auto;
    -ms-overflow-style: none;
    z-index: 1;
}

.error {
    background: red;
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right:  2px solid black;
    border-bottom:  1px solid black;
    position: fixed;
    height: 57px;
    width: 20%;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 2;
    flex: 1
}

.inputError {
    background: red;
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right:  2px solid black;
    border-bottom:  1px solid black;
    position: fixed;
    height: 57px;
    width: 20%;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 2;
    font-size: .75em;
}

.inputErrorHidden {
    display: none;
}

h4 {
    text-align: center;
    vertical-align: center;
    color: black;
    font-weight: bolder;
}



.activeList {
    color: black;
}
.inactiveList {
    color: white
}

.activeListName::-webkit-scrollbar {
    display: none;
}

.activeListContents {
    background: rgb(60, 64, 66);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right:  2px solid black;
    border-bottom:  2px solid black;
    position: fixed;
    height: 64.55%;
    width: 20%;
    right: 0;
    top: 252px;
    padding: 10px;
    overflow:auto;
    -ms-overflow-style: none;
}

.activeListContents::-webkit-scrollbar {
    display: none;
}

.delete:hover {
    background-color: rgb(216, 99, 79);
  }

.delete {
    margin-left: 5px;
    flex-basis: 1em;
}
.add:hover {
    background-color: green;
}
.addGameButton:hover {
    background-color: green;
}

.lists input {
    float: left;
    clear: both;
    margin-right: 1%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.currentPage {
    float: left;
    margin-right: 2%;
}

.discover {
    top: 57px;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-right:  1px solid black;
    border-bottom:  1px solid black;
    height: 195px;
    width: 20%;
    left: 0;
    position: fixed;
    padding: 10px;
}

.selected {
    border: 1px solid yellow;
    padding: 3px;
    border-radius: 5px;
}

.explore, .platforms {
    list-style-type: none;
}

.explore li, .platforms li {
    padding: 3px;
}



.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}