*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: black;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: white;
}

body {
    margin:0;
    padding:0;
    background: black;
}

.siteTitle {
    color: white;
    font-size: 2em;
    padding: 5px;
}

.searchBar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10%;
    display: flex;
    padding: 5px;
}

.searchBox {
    border-radius: 5px;
    height: 25px;
    border: none;
}

.displayBox {
    position:fixed;
    height: 89%;
    width: 100%;
    top: 10%;
    display: flex;
    flex-direction: row;
}


.listNameInput {
    border-radius: 5px;
    border: none;
    width: 80%;
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.title {
    flex: 1.5;
    flex-wrap: wrap;
}

.pages {
    margin-top: 5px;
    width: 100%;
}

.searchNavigation {
    flex: 4;
}

.buttonNavigation {
    margin-left: 5%;
}

input {
    color: black;
}

.totalLists {
    padding-bottom: 5px;
}

.totalGames {
    margin-bottom: 5px;
}

button {
    display: inline-block;
    background:rgb(40, 40, 40);
    color:rgb(150, 150, 150);
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    word-wrap: normal;
}
button:hover {
    color: white;
}


.sideBar {
    margin: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.lists {
    overflow:auto;
    flex: 10;
    display: flex;
    flex-direction: column;
}

.listsCreation {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
}

.listDisplay {
    -ms-overflow-style: none;
    overflow:auto;
    padding: 10px;
    flex: 5;
}

.activeListContents {
    padding-left: 5px;
    padding-right: 5px;
    overflow:auto;
    list-style-type: none;
    flex: 15;
}
.activeListContents ul li {
    display: flex;
    flex-direction: row;
}


.activeListContents ul li p {
    background:rgb(40, 40, 40);
    color:rgb(150, 150, 150);
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
}

.myLists {
    padding: 0;
}

.myLists li {
    position: relative;
    display: flex;
    flex-direction: row;
}


.platforms {
    padding: 10px;
    margin: 5px;
    flex: 4;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    list-style-type: none;
    padding-bottom: 10px;
    overflow:auto;
    flex: 8;
    height: 110%;
    margin-bottom: 20%;
}

.gridBottom {
    position: relative;
    height: 300px;
    width: 100%;
}

.gameItem {
    background:rgb(40, 40, 40);
    list-style-type: none;
    margin: 5px;
    border-radius: 5px;
}

.gameItem:hover {
    background:rgb(70, 70, 70);
}

.flex1 {
    position: relative;
    height: 10%;
}

.flex2 {
    position: relative;
    overflow: hidden;
}

.flex3 {
    position: relative;

}

.thumbnail {
    padding: 5px;
    border-radius: 10px;
    vertical-align: top;
    height: auto;
    width: 100%;
    object-fit:contain;
    overflow: hidden;
}

.gameName {
    font-size:large;
    text-align: center;
    border-spacing: 5em;
    padding: 5px;;
}

.gameNameHidden {
    display: none;
}

.detailsName {
    font-size:larger;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.listDetails {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: inherit;
    z-index: 2;
    position: absolute;
    background:rgb(70,70, 70);
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
}

.listDetails ul {
    list-style-type: none;
}

.listDetailsHidden {
    display: none;
}

.listBar {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.activeList {
    font-size: larger;
    width: 98%;
    background:rgb(25, 25, 25)
}

.activeListName {

    padding: 5px;
    flex: 1;
}

.error {
    background: red;
    position: fixed;
    height: 50px;
    width: 20%;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 2;
    border-radius: 5px;
    margin: 5px;
}

.inputError {
    background: red;
    position: fixed;
    height: 50px;
    width: 20%;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 2;
    font-size: .75em;
    border-radius: 5px;
    margin: 5px;
}

.inputErrorHidden {
    display: none;
}

h4 {
    text-align: center;
    vertical-align: center;
    color: black;
    font-weight: bolder;
}

.inactiveList {
    color: white
}

.delete:hover {
    background-color: rgb(216, 99, 79);
  }

.delete {
    background-color: black;
    margin-left: 5px;
    flex-basis: 1em;
    color:rgb(216, 99, 79);
}

.add {
    background-color: black;
    color: green;
    margin-bottom: 2px;
    font-size: larger;
    padding: none;
}

.add:hover {
    color: white;
    background: green;
}

.addGameButton{
    background-color: green;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
    width: 80%;
    height: 20px;
    color: black;
}

.addGameButton:hover {
    color: white;
}

.lists input {
    float: left;
    clear: both;
    margin-right: 1%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.currentPage {
    float: left;
    margin-right: 2%;
}

.discover {
    padding: 10px;
    margin: 5px;
    flex: 1;
}

.selected {
    background:rgb(40, 40, 40);
    color:white;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
    font-size: large;
}

.none {
    background:rgb(40, 40, 40);
    color:rgb(150, 150, 150);
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
}

.none:hover {
    color: white;
}

.explore {
    list-style-type: none;
}

.gamePlatforms {
    list-style-type: none;
}

.explore li, .platforms li {
    padding: 3px;
}
.credits {
    margin-top: 5px;
    font-size: smaller;
}
.description {
    font-size: x-small;
}


.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}